
MaquinaTurinAreaCubo/.vs/MaquinaTurinAreaCubo/v15/.suo
MaquinaTurinAreaCubo/.vs/MaquinaTurinAreaCubo/v15/.suo
MaquinaTurinAreaCubo/.vs/MaquinaTurinAreaCubo/v15/Server/sqlite3/db.lock
MaquinaTurinAreaCubo/.vs/MaquinaTurinAreaCubo/v15/.suo
MaquinaTurinAreaCubo/.vs/MaquinaTurinAreaCubo/v15/.suo
MaquinaTurinAreaCubo/.vs/MaquinaTurinAreaCubo/v15/Server/sqlite3/storage.ide
MaquinaTurinAreaCubo/.vs/MaquinaTurinAreaCubo/v15/Server/sqlite3/storage.ide-shm
MaquinaTurinAreaCubo/.vs/MaquinaTurinAreaCubo/v15/Server/sqlite3/storage.ide-wal
MaquinaTurinAreaCubo/.vs/MaquinaTurinAreaCubo/v15/sqlite3/db.lock
MaquinaTurinAreaCubo/.vs/MaquinaTurinAreaCubo/v15/sqlite3/storage.ide
MaquinaTurinAreaCubo/.vs/MaquinaTurinAreaCubo/v15/sqlite3/storage.ide-shm
MaquinaTurinAreaCubo/MaquinaTurinAreaCubo/bin/Debug/MaquinaTurinAreaCubo.exe
MaquinaTurinAreaCubo/MaquinaTurinAreaCubo/obj/Debug/MaquinaTurinAreaCubo.csproj.CoreCompileInputs.cache
MaquinaTurinAreaCubo/MaquinaTurinAreaCubo/obj/Debug/MaquinaTurinAreaCubo.csproj.FileListAbsolute.txt
MaquinaTurinAreaCubo/MaquinaTurinAreaCubo/obj/Debug/MaquinaTurinAreaCubo.csproj.GenerateResource.Cache
